.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.header{
  font-family: 'Ubuntu', sans-serif;
}
.create-form label{
  color: whitesmoke !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px !important;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #85847f;
  color: rgb(19, 20, 92);
  flex-direction: column;
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');